extends componentes/layout.pug

block main
  //- Photo by <a href="https://unsplash.com/@sstoppo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">SUNBEAM PHOTOGRAPHY</a> on <a href="https://unsplash.com/photos/0g-ZLxoQgsE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  .-mt-16.flex.h-screen.bg-sky-950.text-white(style="background-image: url('img/background-waves.jpg')")
    .m-auto.pb-64
      .text-xl.text-cyan-200=subtitle
      .text-6xl=title

  .bg-slate-50.px-64.py-16
    h1 O melhor da tecnologia de Rádio-Definido por Software (RDS)

    h2 Defesa & Segurança Pública

    p Somos a WaveComm Tech, uma start-up brasileira focada no desenvolvimento de soluções de comunicação sem fio para os mercados de defesa e segurança pública.

    p A visão da WaveComm é tornar-se um SDR Design Center capaz de fornecer produtos de hardware e software relacionados a comunicações, guerra eletrônica, inteligência de sinais e segurança cibernética.

    p Teremos o maior prazer em discutir nossos negócios com qualquer potencial cliente ou parceiro interessado em sistemas de comunicação sem fio baseados na tecnologia de rádio-definido por software

    h2 Soluções Customizadas

    p Fornecemos serviços e produtos como desenvolvimento de formas de onda (waveforms) e sistemas de comunicação sem fio para clientes que desejam aprimorar seus recursos de comunicação usando nossas soluções personalizadas com base na tecnologia de rádio definida por software (RDS).

//- vim: nowrap
